<h4>Oficyna</h4>
<p>oficyn:  {{!-- dodać opis, zrobić ify --}}</p>
<p>linia: {{!-- dodać opis, zrobić ify --}}</p>
<p>linii: {{!-- dodać opis, zrobić ify --}}</p>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="outbuilding_yes" name="outbuilding" value="1">
    <label class="form-check-label" for="outbuilding_yes">Tak</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="outbuilding_no" name="outbuilding" value="0">
    <label class="form-check-label" for="outbuilding_no">Nie</label>
</div>
<hr class="mt-0 mb-4">
