<h4>Czynsz</h4>
<p><strong>Czynsz administracyjny:</strong> {{ flat_data.rent }}</p>

<p>czynsz: {{flat_data.rentDesc}}</p>
<p>bezczynsz:{{flat_data.withoutRentDesc}}</p>
<p>opłat: {{flat_data.feesDesc}}</p>

<div class="question">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">PLN</span>
        </div>
        <input type="text" name="rent" class="form-control" placeholder="Wpisz wartość czynszu (opcjonalne)">
    </div>
</div>
<hr class="mt-0 mb-4">
