<h4>Infrastruktura alarmowa</h4>
<p><strong>Monitoring:</strong> {{ flat_data.monitoring }}</p>
<p><strong>Osiedle strzeżone:</strong> {{ flat_data.guardedEstate }}</p>
<p>monitoring: {{!-- dodać opis, zrobić ify --}}</p>
<p>monit: {{!-- dodać opis, zrobić ify --}}</p>
<p>alarm: {{!-- dodać opis, zrobić ify --}}</p>
<p>strzeż: {{!-- dodać opis, zrobić ify --}}</p>
<p>ochron:{{!-- dodać opis, zrobić ify --}}</p>
<p>dozór: {{!-- dodać opis, zrobić ify --}}</p>
<p>dozor: {{!-- dodać opis, zrobić ify --}}</p>
<p>portier: {{!-- dodać opis, zrobić ify --}}</p>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="alarm_yes" name="alarm" value="1">
    <label class="form-check-label" for="alarm_yes">Tak</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="alarm_no" name="alarm" value="0">
    <label class="form-check-label" for="alarm_no">Nie</label>
</div>
<hr class="mt-0 mb-4">
