<h4>Prawo</h4>
{{#if flat_data.lawStatus}}
    <p><strong>Stan prawny:</strong> {{ flat_data.lawStatus }}</p>
{{/if}}

{{#if flat_data.communityFlatDesc}}
    <p>wspólnot: {{ flat_data.communityFlatDesc }}</p>
{{/if}}

{{#if flat_data.cooperativeflatDesc}}
    <p>spóldziel: {{ flat_data.cooperativeflatDesc }}</p>
{{/if}}


<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="law_status_1" name="law_status" value="1">
    <label class="form-check-label" for="law_status_1">Własnościowe</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="law_status_2" name="law_status" value="2">
    <label class="form-check-label" for="law_status_2">Spółdzielcze</label>
</div>
<hr class="mt-0 mb-4">
