<h4>Stan budynku</h4>
<p><strong>Materiał</strong>: {{ flat_data.material }}</p>
<p><strong>Rok budowy</strong>: {{ flat_data.yearBuilt }}</p>
<p><strong>Ulica:</strong> {{ flat_data.street }}</p>
<p><strong>Lokalizacja:</strong> {{ flat_data.localization }}</p>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="modernization_1" name="modernization" value="4">
    <label class="form-check-label" for="modernization_1">Po modernizacji</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="modernization_2" name="modernization" value="5">
    <label class="form-check-label" for="modernization_2">Wymaga modernizacji</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="modernization_3" name="modernization" value="0">
    <label class="form-check-label" for="modernization_3">Puste</label>
</div>
<hr class="mt-0 mb-4">

