<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <h2>Wybierz rodzaj nieruchomości:</h2>
                <div class="d-flex flex-column">
                    <a href="/rer/flats/"><button type="button" class="btn btn-primary mb-2">Mieszkania</button></a>
                    <a href="/rer/houses/"><button type="button" class="btn btn-primary mb-2">Domy</button></a>
                    <a href="/rer/plots/"><button type="button" class="btn btn-primary mb-2">Grunty</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
